.App {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
}

form {
    max-width: 500px;
    width: 100%;
    padding: 30px;
    border-radius: 5px;
    background-color: white;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
}

input,
textarea,
fieldset,
select {
    border: 1px solid blueviolet;
    border-radius: 5px;
    padding: 20px;
    outline: none;
}

select {
    display: block;
    width: 100%;
    margin-top: 5px;
}

input[type=checkbox] {
    display: inline-block;
    margin-right: 5px;
}

fieldset > input {
    margin-right: 5px;
}

legend {
    padding: 0 20px;
}

button {
    padding: 20px;
    background-color: blueviolet;
    color: white;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
}

.errorMessage {
    color: red;
    padding-left: 20px;
    margin-top: -15px;
}

